table{
    max-width: 112rem;
    width: 98%;
    margin: 0 auto;
    background-color: #fff;
    padding: 2rem 1rem;
    border-radius: 1rem;
    font-size: 1.4rem;
}

thead{
    text-align: left;
    font-weight: bolder;
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

tbody{
    padding-top: 2rem;
}



