:root {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  --green-color: teal;
  --theme-color: antiquewhite;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background-color: var(--theme-color);

}