.container-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: .5rem;
    padding: 2rem .5rem;
    width: 30%;
    font-size: 2rem;
}

.container-item p{
    font-weight: bolder;
}

.description{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    
}

.red-balance{
    border-bottom: 4px solid red;
}

.green-balance{
    border-bottom: 4px solid green;
}


.description svg{
    font-weight: bolder;
    font-size: 2.5rem;
    fill: var(--green-color);
}

@media screen and (max-width: 600px){
    .container-item{
        width: 98%;
    }
}